{
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ],
  "ignorePatterns": [
    "dist/*"
  ],
  "extends": "standard-with-typescript",
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "@typescript-eslint/semi": [
      2,
      "always"
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}